.main__conatiner {
    display: flex;
    grid-gap: 3rem;
    max-width: 1250px;
    position: relative;
    margin: auto;
}

.middle__section {
    width: 52.5%;
    height: 120vh;
    padding: 2rem 0rem;
    position: relative;
}

.left__section {
    width: 20%;
    padding-top: 2rem;
}

.right__section {
    width: 27.5%;
    padding-top: 2rem;
}

.filter__container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0rem;
    border-radius: 1.2rem;
}

.trending, .latest {
    width: 47.5%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    padding: .5rem 0rem;
    border-bottom: 2px solid var(--primary-color);
    color: var(--secondry-text-color);
    border-radius: .5rem;
    cursor: pointer;
}

.set__trending.trending{
    border-bottom: none;
    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.set__latest.latest{
    border-bottom: none;
    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.trending > p, .latest > p{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
}